*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.titolo{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.conteiner{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

h1{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    color: #ff1493;
}

.sottotitolo{
    margin-top: 50px;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}

.card{
    margin-bottom: 20px;
    padding-right: 10px;
    float: left;
    width: 33.3%;
    color: white;
}

section{
    background-color: black;
    border-style: outset;
}

img{
    float: left;
    width: 102px;
}

.nome{
    margin-left: 110px;
    padding-top: 10px;
    color: white;
    font-family: 'Fredoka', sans-serif;
    font-weight: bold;
    vertical-align: top;

}

.professione{
    margin-left: 110px;
    color: white;
    font-family: 'Fredoka', sans-serif;
}

.email{
    padding-bottom: 10px;
    color: #00bfff;
    font-family: 'Fredoka', sans-serif;
    text-decoration: none;
}
