*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

.titolo{
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.conteiner{
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
}

h1{
    text-align: center;
    font-family: 'Fredoka', sans-serif;
    color: #ff1493;
}

.sottotitolo{
    margin-top: 50px;
    text-align: center;
    font-family: 'Fredoka', sans-serif;
}

.card{
    margin-bottom: 20px;
    margin-right: 20px;
    float: left;
    width: 33.3%;
    background-color: midnightblue;
    color: white;
}

img{
    width: 50px;
}

.nome{
    color: white;
    display: inline-block;
}

.professione{
    color: white;
    display: block;
}

